[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/hami-Nestjs-micro-services/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/hami-Nestjs-micro-services/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/hami-Nestjs-micro-services/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/hami-Nestjs-micro-services/payments-ms.git
